#home > div {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 43px);
}

#map > div > div {
    max-height: calc(100vh - 50px);
}

.gm-style > button {
    display: none !important;
}

.modalCard {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    transition: all 0.5s ease-in-out;
}

.card {
    transition: all 0.5s ease-in-out;
}

.modalCard.closed {
    -webkit-transform: translateY(115%);
    -moz-transform: translateY(115%);
    -ms-transform: translateY(115%);
    -o-transform: translateY(115%);
    transform: translateY(115%);
}

.minimized .additionalInfo {
    overflow: hidden;
    max-height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.maximized .additionalInfo {
    max-height: 100vh !important;
    transition: all 1s;
}

.flex img {
    object-fit: cover;
}

img.notModal {
    max-height: 50px;
}

.green {
    color: darkgreen;
}

.red {
    color: darkred;
}

.flex {
    display: flex;
    flex-direction: row;
}

.growable {
    flex-grow: 1;
}